$sidebar_close: 8vw;
$sidebar_close_992px_screen: 6vw;
$sidebar_close_1200px_screen: 5vw;
$sidebar_close_1400px_screen: 4.5vw;
$sidebar_close_1600px_screen: 3.5vw;

$sidebar_open: 28vw;
$sidebar_open_992px_screen: 22vw;
$sidebar_open_1200px_screen: 21vw;
$sidebar_open_1400px_screen: 19vw;
$sidebar_open_1600px_screen: 15vw;
