// Colors

$bg-color: #f4f4f4;
$primary-color: #252f3c;
$secondary-color: #29d9ff;
$bg-active: #36414f;
$hr: #e2e2e2;
$hover-dropdown: #e4e4e4;
$border: #ccc;
$delete: #fc0330;

// Sidebar

$sidebar_close: 8vw;
$sidebar_close_992px_screen: 6vw;
$sidebar_close_1200px_screen: 5vw;
$sidebar_close_1400px_screen: 4.5vw;
$sidebar_close_1600px_screen: 3.5vw;

$sidebar_open: 28vw;
$sidebar_open_992px_screen: 22vw;
$sidebar_open_1200px_screen: 21vw;
$sidebar_open_1400px_screen: 19vw;
$sidebar_open_1600px_screen: 15vw;
