@use '/src/styles/abstracts' as a;

.modal__background {
	height: 92vh;
	width: (100vw - a.$sidebar_close);
	background-color: rgba(136, 136, 136, 0.7);
	position: fixed;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.modal__header {
		display: flex;
	}
	h3 {
		width: 100%;
		text-align: center;
		padding-bottom: 1rem;
	}
	.modal__close {
		font-size: 1.5rem;
		margin-left: auto;
		cursor: pointer;
	}
	.password__info {
		width: 15rem;
		font-family: a.$roboto;
		display: flex;
		flex-direction: column;
		p {
			font-size: 0.8rem;
		}
		label {
			padding: 1rem 0 0.5rem 0;
			font-weight: a.$medium;
		}
		input,
		textarea {
			font-family: a.$roboto;
			border-radius: 0.3rem;
			font-size: 0.9rem;
			padding: 0.5rem;
			border: 1px solid a.$border;
		}
	}
	.modal__buttons {
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}
}
