@use '/src/styles/abstracts' as a;

.layout {
	display: flex;
	.sidebar {
		position: static;
		width: 14rem;
		height: 100vh;
		flex-shrink: 0;
		background-color: a.$primary-color;
		overflow: auto;
		transition: all 0.5s;

		.topSection {
			display: flex;
			align-items: center;
			padding: 0.6rem 1.2rem;
			transition: all 0.5s;
			min-height: 8vh;
			color: a.$secondary-color;
			border-bottom: 2px solid #36414f;
			.logo {
				p {
					font-size: 1.2rem;
				}
			}
			.logo,
			.hamburguerIcon {
				gap: 0.7rem;
				font-family: a.$roboto;
				font-weight: a.$bold;
				font-size: 1.6rem;
				align-items: center;
			}
			.hamburguerIcon {
				display: flex;
				margin-left: 4.5rem;
				transition: all 0.3s;
				cursor: pointer;
			}
			.hamburguerIconClosed {
				margin-left: 0;
			}
		}
	}
	.sidebarClosed {
		width: 3.75rem;
	}
	main {
		width: 100%;
	}
}
